{#
/**
 * @file
 * Markup for inline tooltips.
 *
 * Available variables:
 * - word: the text where the tooltips applies to.
 * - tip: the tooltip text.
 * - tip_raw: the tooltip text in its raw format.
 * - langcode: the tooltip language code.
 *
 * @ingroup themeable
 */
#}
<abbr tabindex="0" {% if tip %}title="{{ tip }}"{% endif %} class="glossify-tooltip-tip" {% if langcode %}lang="{{ langcode }}"{% endif %}>{{ word }}</abbr>
